  <!-- Sharing data between child and parent components -->
  
  <div class="card-container">
    <mat-card class="card" *ngFor="let cardTitle of titles">
      <mat-card-header>
        <mat-card-title>{{cardTitle}}</mat-card-title>
        <mat-card-subtitle>{{cardTitle}}</mat-card-subtitle>
        <button mat-raised-button class="delete-button" (click)="onDeleteCard(cardTitle)">Delete</button>
      </mat-card-header>
    </mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input type="text" matInput #inputTitle>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onAddCard(inputTitle.value)">Add Card</button>
    
  </div>