<div>
    <h2>User List</h2>
    <table class="tbl-border">
        <thead>
            <th>Name</th>
            <th>Address</th>
            <th>Age</th>
        </thead>
        <tbody>
            <ng-container *ngFor="let usr of user">
                <tr *ngIf="usr.age > 20">
                    <td>{{usr.username}}</td>
                    <td>{{usr.address}}</td>`
                    <td>{{usr.age}}</td>
                </tr>
            </ng-container>
            
        </tbody>
    </table>
</div>
